apiVersion: v1
kind: Service
metadata:
  name: ingestion-agent
  namespace: default
  labels:
    app: ingestion-agent
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: metrics
  selector:
    app: ingestion-agent
